# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

basic_tutorial/basic_tutorial_1_hello_world/basic_tutorial_1
basic_tutorial/basic_tutorial_2_gstreamer_concepts/basic_tutorial_2
basic_tutorial/basic_tutorial_2_gstreamer_concepts/excercise
basic_tutorial/basic_tutorial_3_dynamic_pipelines/basic_tutorial_3
basic_tutorial/basic_tutorial_4_time_management/basic_tutorial_4